In [170]:
import pandas

In [171]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()

In [172]:
import os
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'jupyterApp.ipynb',
 'learnPandas.ipynb',
 'scrape.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Testings.ipynb',
 'Untitled.ipynb']

In [173]:
n=nom.geocode("3995 23rd St, San Francisco, CA 94114")

In [174]:
df=pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [175]:
df["Address"]=df["Address"]+", "+df["City"]+", "+df["State"]+","+df["Country"]
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114,USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California,USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20

In [176]:
df=df.set_index("ID")
df

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,"3666 21st St, San Francisco, CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8
2,"735 Dolores St, San Francisco, CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15
3,"332 Hill St, San Francisco, California 94114,USA",San Francisco,California 94114,USA,Super River,25
4,"3995 23rd St, San Francisco, CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10
5,"1056 Sanchez St, San Francisco, California,USA",San Francisco,California,USA,Sanchez,12
6,"551 Alvarado St, San Francisco, CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20

In [177]:
df["Coordinates"]=df["Address"].apply(nom.geocode)

In [184]:
df["Latitude"]=df["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df["Longitude"]=df["Coordinates"].apply(lambda x: x.longitude if x != None else None)

In [185]:
df

,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
ID,,,,,,,,,
1,"3666 21st St, San Francisco, CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756444,-122.429353
2,"735 Dolores St, San Francisco, CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757801,-122.425599
3,"332 Hill St, San Francisco, California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755641,-122.428794
4,"3995 23rd St, San Francisco, CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752985,-122.431702
5,"1056 Sanchez St, San Francisco, California,USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752144,-122.429758
6,"551 Alvarado St, San Francisco, CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753709,-122.433251

In [186]:
first = df.iloc[0,1]
first

'San Francisco'

In [187]:
df_t=df.T

In [188]:
df_t

ID,1,2,3,4,5,6
Address,"3666 21st St, San Francisco, CA 94114,USA","735 Dolores St, San Francisco, CA 94119,USA","332 Hill St, San Francisco, California 94114,USA","3995 23rd St, San Francisco, CA 94114,USA","1056 Sanchez St, San Francisco, California,USA","551 Alvarado St, San Francisco, CA 94114,USA"
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
Coordinates,"(3666 21st St, San Francisco, California, 9411...","(735 Dolores St, San Francisco, California, 94...","(332 Hill St, San Francisco, California, 94114...","(3995 23rd St, San Francisco, California, 9411...","(1056 Sanchez St, San Francisco, California, 9...","(551 Alvarado St, San Francisco, California, 9..."
Latitude,37.7564,37.7578,37.7556,37.753,37.7521,37.7537
Longitude,-122.429,-122.426,-122.429,-122.432,-122.43,-122.433

In [190]:
df_t["7"]=["750 Main St, ","Reisterstown","MD 21136","USA","Andy",6,"x","x","x"]

In [192]:
df_t

ID,1,2,3,4,5,6,7
Address,"3666 21st St, San Francisco, CA 94114,USA","735 Dolores St, San Francisco, CA 94119,USA","332 Hill St, San Francisco, California 94114,USA","3995 23rd St, San Francisco, CA 94114,USA","1056 Sanchez St, San Francisco, California,USA","551 Alvarado St, San Francisco, CA 94114,USA","750 Main St,"
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,Reisterstown
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,MD 21136
Country,USA,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,Andy
Employees,8,15,25,10,12,20,6
Coordinates,"(3666 21st St, San Francisco, California, 9411...","(735 Dolores St, San Francisco, California, 94...","(332 Hill St, San Francisco, California, 94114...","(3995 23rd St, San Francisco, California, 9411...","(1056 Sanchez St, San Francisco, California, 9...","(551 Alvarado St, San Francisco, California, 9...",x
Latitude,37.7564,37.7578,37.7556,37.753,37.7521,37.7537,x
Longitude,-122.429,-122.426,-122.429,-122.432,-122.43,-122.433,x

In [194]:
df_t["7"]=["750 Main St, "+df_t.iloc[1,6]+", "+df_t.iloc[2,6]+", "+df_t.iloc[3,6],"Reisterstown","MD 21136","USA","Andy",6,"x","x","x"]
df_t

ID,1,2,3,4,5,6,7
Address,"3666 21st St, San Francisco, CA 94114,USA","735 Dolores St, San Francisco, CA 94119,USA","332 Hill St, San Francisco, California 94114,USA","3995 23rd St, San Francisco, CA 94114,USA","1056 Sanchez St, San Francisco, California,USA","551 Alvarado St, San Francisco, CA 94114,USA","750 Main St, Reisterstown, MD 21136, USA"
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,Reisterstown
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,MD 21136
Country,USA,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,Andy
Employees,8,15,25,10,12,20,6
Coordinates,"(3666 21st St, San Francisco, California, 9411...","(735 Dolores St, San Francisco, California, 94...","(332 Hill St, San Francisco, California, 94114...","(3995 23rd St, San Francisco, California, 9411...","(1056 Sanchez St, San Francisco, California, 9...","(551 Alvarado St, San Francisco, California, 9...",x
Latitude,37.7564,37.7578,37.7556,37.753,37.7521,37.7537,x
Longitude,-122.429,-122.426,-122.429,-122.432,-122.43,-122.433,x

In [195]:
df=df_t.T
df

,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
ID,,,,,,,,,
1,"3666 21st St, San Francisco, CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.7564,-122.429
2,"735 Dolores St, San Francisco, CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.7578,-122.426
3,"332 Hill St, San Francisco, California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.7556,-122.429
4,"3995 23rd St, San Francisco, CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.753,-122.432
5,"1056 Sanchez St, San Francisco, California,USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.7521,-122.43
6,"551 Alvarado St, San Francisco, CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.7537,-122.433
7,"750 Main St, Reisterstown, MD 21136, USA",Reisterstown,MD 21136,USA,Andy,6,x,x,x

In [196]:
df["Coordinates"]=df["Address"].apply(nom.geocode)
df["Latitude"]=df["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df["Longitude"]=df["Coordinates"].apply(lambda x: x.longitude if x != None else None)

In [197]:
df

,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
ID,,,,,,,,,
1,"3666 21st St, San Francisco, CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756444,-122.429353
2,"735 Dolores St, San Francisco, CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757801,-122.425599
3,"332 Hill St, San Francisco, California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755641,-122.428794
4,"3995 23rd St, San Francisco, CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752985,-122.431702
5,"1056 Sanchez St, San Francisco, California,USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752144,-122.429758
6,"551 Alvarado St, San Francisco, CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753709,-122.433251
7,"750 Main St, Reisterstown, MD 21136, USA",Reisterstown,MD 21136,USA,Andy,6,"(750 Main St, Reisterstown, Maryland, 21136, (...",39.451632,-76.819952